:root {
  --background: #fff; /* #E4D4C7 */;
  --foreground: #171717;
  --primary: #be9a82; /* marrom */
  --secundary: #2e8b57; /* herbal */
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

